* {
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type=radio] {
    display: none;
}

label {
    cursor: pointer;
}

input[type=radio]:checked + label {
    color: red;
}

#cells {
    position: relative;
    background-color: #eee;
    width: calc(100vw - 1em);
    height: calc(100vh - 10em);
    overflow: scroll;
}

.cell {
    background-color: #fff;
    padding: .5em;
    position: absolute;
    border: solid blue .3em;
    width: 12em;
    height: 15em;
    overflow: auto;
}

.machine-section, .resource-section, .out-section, .buy-section {
    display: none;
}

input[data-show=machines]:checked ~ .machine-section {
    display: block;
}

input[data-show=resources]:checked ~ .resource-section {
    display: block;
}

input[data-show=out]:checked ~ .out-section {
    display: block;
}

input[data-show=buy]:checked ~ .buy-section {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.machines > li {
    border: solid black .1em;
    position: relative;
    padding: .2em;
}

ul.machines .progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
    height: .1em;
    width: 0;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-property: width;
}

ul.resources > li {
    border: solid green .1em;
}

