* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a:link {
    text-decoration: none;
}

.disabled {
    cursor: not-allowed;
    color: #aaa;
}

button {
    padding: 1px 2px;
}

input[type=radio] {
    display: none;
}

label {
    cursor: pointer;
    color: #226;
}

input[type=radio]:checked + label {
    color: #933;
}

#cells {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

#game-info {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: .5em 2em;
    background-color: #eee;
}

.cell {
    background-color: #fff;
    padding: .5em;
    position: absolute;
    border: solid #933 .3em;
    overflow: auto;
}

.machine-section, .resource-section, .out-section, .buy-section {
    display: none;
}

input[data-show=machines]:checked ~ .machine-section {
    display: block;
}

input[data-show=resources]:checked ~ .resource-section {
    display: block;
}

input[data-show=buy]:checked ~ .buy-section {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: .5em 0;
}

ul.machines > li {
    border: solid black .1em;
    position: relative;
    z-index: 0; /* stacking context */
    padding: .2em;
    font-size: 80%;
    overflow: hidden;
}

ul.machines > li > button {
    float: right;
}

ul.machines > li .machine-selector {
    display: none;
}

ul.machines > li .machine-details {
    display: none;
}

ul.machines > li .machine-selector:checked ~ .machine-details {
    display: block;
}

ul.machines .progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 10em;
    width: 0;
    background-color: #cde;
}

ul.machines > li:empty::before {
    content: '\a0';
}

.resources > * {
    display: inline-block;

    background-color: #226;
    color: #ddd;
    padding-left: .3em;
    padding-right: .3em;
    margin-right: .5em;
    min-width: 1.5em;
}

.resources > *:empty::before {
    content: '\a0';
}

.buy-placeholder {
    background-color: #e7e7e7;
    position: absolute;
    padding: 3em;
    border: solid #ddd .3em;
    text-align: center;
    cursor: pointer;
    color: #888;
}

.buy-placeholder .label {
    visibility: hidden;
}

.buy-placeholder:hover .label {
    visibility: visible;
}

.buy-placeholder .watermark {
    font-size: 6em;
    color: #d7d7d7;
    height: 100%;
    width: 100%;
}