* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: #226;
}

.disabled {
    cursor: not-allowed;
    color: #aaa;
}

button {
    border-radius: 1em;
}

input[type=radio] {
    display: none;
}

label {
    cursor: pointer;
    color: #226;
}

input[type=radio]:checked + label {
    color: #933;
}

header {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #334;
    color: #ccc;
}

#header-top {
    padding: .5em 2em;
}

#header-details {
    margin: 0 2em;
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition-duration: 200ms;
    transition-property: all;
}

header:hover #header-details {
    max-height: 50vh;
    margin-top: .5em;
    margin-bottom: 1em;
}

#cells {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #556;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.cell {
    background-color: #eed;
    padding: .8em;
    position: absolute;
    border-radius: 1em;
    overflow: auto;
    color: #333;
}

.buy-placeholder {
    background-color: #667;
    position: absolute;
    padding: 3em;
    border: solid #778 .3em;
    text-align: center;
    cursor: pointer;
    color: #223;
    border-radius: 1em;
}

.buy-placeholder .label {
    visibility: hidden;
}

.buy-placeholder:hover .label {
    visibility: visible;
}

.buy-placeholder .watermark {
    font-size: 6em;
    color: #778;
    height: 100%;
    width: 100%;
}

.machine-section, .resource-section, .out-section, .buy-section, .settings-section {
    display: none;
}

input[data-show=machines]:checked ~ .machine-section, 
input[data-show=resources]:checked ~ .resource-section,
input[data-show=buy]:checked ~ .buy-section,
input[data-show=set]:checked ~ .settings-section {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: .5em 0;
}

ul.machines > li {
    border: solid #eed .1em;
    position: relative;
    z-index: 0; /* stacking context */
    padding: .2em;
    font-size: 80%;
    overflow: hidden;
    background-color: #ffe;
}

ul.machines > li > button {
    float: right;
}

ul.machines > li .machine-selector {
    display: none;
}

ul.machines > li .machine-details {
    display: none;
}

ul.machines > li .machine-selector:checked ~ .machine-details {
    display: block;
}

ul.machines .progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 10em;
    width: 0;
    background-color: #ddc;
}

ul.machines > li:empty::before {
    content: '\a0';
}

img.resource {
    vertical-align: bottom;
}

.resources > * {
    display: inline-block;

    background-color: #ffe;
    border-radius: 1em;
    padding-left: .4em;
    padding-right: .4em;
    margin-right: .5em;
    min-width: 1.5em;
}

.resources > *:empty::before {
    content: '\a0';
}
